body {
font-family: Arial, Helvetica, sans-serifs;
   
}
.header {
  background: #e4dada;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #16294b;
  padding-left: 20px;
  padding-right: 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
  list-style: none;
}

.menu li a {
  display: block;
  padding: 10px;
  color: rgb(53, 53, 134);
  text-decoration: none;
}

#menuToggle {
  display: none;
}

.menu-icon {
  display: none;
}

/* Menu Mobile */
@media screen and (max-width: 768px) {
  .header {
    top: 0px;
    width: 100%;
  }
  .header nav {
    display: absolute;
    width: 100%;
    height: 100%;
  }
  .menu {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    align-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    background-color: rgba(209, 209, 209, 0.938);
    overflow: hidden;
    transition: height 0.3s;
  }
  .menu li {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .menu li a {
    display: block;
    text-align: center;
    width: 100%;
  }
  .menu-icon {
    width: 50px;
    height: inherit;
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
    line-height: 60px;
    color: white;
    z-index: 999;
  }
  #menuToggle:checked ~ label i:nth-child(2) {
    display: block;
  }
  #menuToggle:checked ~ label i:first-child {
    display: none;
  }
  #menuToggle:not(:checked) ~ label i:first-child {
    display: block;
  }
  #menuToggle:not(:checked) ~ label i:nth-child(2) {
    display: none;
  }
  #menuToggle:checked ~ ul {
    height: 100%;
  }
  .menu-icon i {
    font-size: 1.7em;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Três colunas de largura igual */
  grid-gap: 10px; /* Espaçamento entre linha e coluna */
  padding: 20px;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  border-radius: 3px; 
  border: 1px solid rgb(197, 196, 196); /* borda preta fina */
}

.data-cabecalho {
  margin-bottom: 10px;
}

.data-tipo-lixo-data {
  font-weight: bold;
}

.data-status.Concluído {
  color: green; /* Cor verde para o texto "Concluído" */
}
