.modal1 {
    width: 316px !important; 
    height: 191px !important;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-evenly;
    background-color: #FFFFFF;
}

.modal1 p{
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btnConfirmarCodigo{
    height: 38px;
    width: 108px;
    color: #1D4F91;
    border: solid 1px #1D4F91;
}

#inputCode{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: 37px;
    height: 39px;
}
input{
    width: 37px;
    height: 39px;
    background-color: #D9D9D9;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-size: x-large;
}

.invalid{
    background-color: #ff8999;
}

#inputCode input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.divModal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
}


dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.divModal.open{
    display: flex;
}

.modal1.open{
    display: flex;
}

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0,-20px,-5px);
    }

    to{
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.modalConcluido {
    width: 316px;
    height: 191px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FFFFFF;
}

.modalConcluido.open{
    display: flex;
    position: absolute;
}

.open.modal1{
    animation: abrirmodal 0.5s;
}

.avaliacao .star-icon{
    font-size: 300%;
    
}
.star-icon{
    color: #daa520;
}


.star-icon::before{
    content: "\2605";
}

.star-icon.ativo ~ .star-icon::before{
    content: "\2606";
}

.avaliacao:hover .star-icon::before{
    content: "\2605";
}

.star-icon:hover ~ .star-icon::before{
    content: "\2606";
}

.avaliacao{
    list-style-type: none;
    display: flex;
    padding-inline-start: 0px;
}